# Frontend
app/node_modules/
app/dist/
app/.env.local
app/.env.*.local

# Backend
server/*.db
server/*.db-journal
/anyway.db
server/internal/webapp/dist/*
!server/internal/webapp/dist/.gitkeep

# OS / editor
.DS_Store
*.swp
